/* Configuration de départ de la page */
body {
    background-color: #EEEEEE;
    margin: 0;
    color: #000002;
    font-size: 20px;
} 
a {
    color: #000002;
}
main {
    margin: 0 auto;
    border: solid 1px #999999;
    width: 1350px;
    overflow-x: scroll;
}
main, header, footer {
    width: 1350px;
    background-color: #FFFFFF;
}
li, a {
    text-decoration: none;
    list-style: none;
}
.section-title {
    color: #FF0066;
}
.content {
     margin: 210px 20px 65px 20px;
     background-image: url(../img/bg.gif);
}

/* header */
header {
    position: fixed;
    text-align: center;
    margin-top: -1px;
}
@media only screen and (max-width : 1350px) {
    header {
        width: 100%;
    }
}
h1 {
    background-color: #EEEEEE;
    border: solid 1px #000000;
    margin: 20px;
}
header li {
    display: inline-block;
    background-color: #669ACC;
    width: 23%;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
}
header .active li {
    background-color: #000000;
}
/* Utilisation d'after car le border-bottom n'est pas compatible sur certains devices */
header .main-nav::after {
    content: "";
    color: black;
    width: 97%;
    border: solid 2px;
    display: inline-block;
}

/* article */
.article-img {
    float: right;
}

/* aside */
.aside-title {
    background-color: #6691CC;
    color: #FFFFFF;
    font-weight: lighter;
    padding: 5px;
}
/* --- tableau --- */
.aside-table {
    width: 100%;
    border-collapse: collapse;
}
.aside-table thead tr th:first-of-type {
    border: none;
    background-color: white;
}
.aside-table caption {
    color: #FE0269;
    font-weight: bold;
    padding: 10px 0;
}
.aside-table th, .aside-table td {
    border: solid 1px #000000;
    text-align: center;
}
.aside-table th {
    background-color: #DDDDDD;
}
.aside-table td {
    background-color: #FFFFFF;
}
.aside-table tfoot th {
    background-color: #FF0066;
}
.aside-table tfoot td {
    background-color: #FFCCCB;
}
/* --- formulaire --- */
aside form fieldset {
    border-color: #FF0066;
    border-style: solid;
    width: 70%;
    display: inline-block;
    background-color: #FFFFFF;
}
aside form .form-control {
    display: inline-block;
    vertical-align: calc(100px);
    margin-left: 20px;
}
aside form .form-control input {
    border: none;
    background-color: #FF0066;
    color: #FFFFFF;
    font-size: 22px;
    padding: 5px 15px;
}
aside form fieldset legend {
    color: #FF0066;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
aside form .following {
    display: block;
}
aside form .following:first-of-type {
    margin: 5px 23px;
}
aside form .following:nth-of-type(3) {
    margin: 5px 65px;
}
aside form .following select {
    font-size: 20px;
    padding: 1px;
}
aside form .following label {
    vertical-align: top;
}
aside form .following textarea {
    width: 455px;
}
aside form .following input,
aside form .following select {
    width: 450px;
}

/* item list */
.item-list li ul {
    display: none;
}
.item-list .active ul {
    display: block;
}

/* footer */
footer .footer-nav::before {
    content: "";
    color: black;
    width: 97%;
    border: solid 2px;
    display: inline-block;
}
.footer-nav {
    margin: 0 20px;
}
footer {
    position: fixed;
    bottom: 0;
}
footer p {
    left: 20px;
    position: relative;
    display: inline-block;
    right: 20px;
    margin: 5px 0;
}
footer a {
    position: absolute;
    display: inline-block;
    right: 80px;
    margin: 5px 0;
    color: #FF0066;
    text-decoration: underline;
}
@media only screen and (max-width : 1350px) {
    footer {
        width: 100%;
    }
}